.vscode/
__pycache__/
imdb/
install.sh
logs/
model/
names

# tutorial
tutorials/__MACOSX/
tutorials/data/
tutorials/logs/
tutorials/opacus/building_text_classifier.ipynb

# data
data/simdial/
simdial_privacy/test/
simdial_privacy/train/
attacks/*.json
*.txt
data.zip

tmp/

attacks/canary_insertion/
attacks/membership_inference/


